/* CSS-Code für Sprechblasen von 
https://roginnovation.com/tutorials/website/css/speechbubble/speechbubble.php
 und
https://www.it-swarm.dev/de/html/css-sprechblase-mit-box-shadow/940949820/
*/

.bubble {
    background-color: #f4fafc;
    border-radius: 5px;
   /*  box-shadow: 10px 10px 15px silver; */
    margin: 20px;
    margin-right: 10%;
    width: 100%;
    padding: 18px;
    padding-left: 15px;
}

.bubble::after {
    background-color: #f4fafc;
    /* box-shadow: -2px 2px 2px -1 silver; */
    content: "\00a0";
    display: block;
    height: 20px;
    left: -23px;
    position: relative;
    top: -40px;
    transform: rotate( 45deg);
    -moz-transform: rotate( 45deg);
    -ms-transform: rotate( 45deg);
    -o-transform: rotate( 45deg);
    -webkit-transform: rotate( 45deg);
    width: 20px;
}

.bubbleMe .date {
    color: white;
}

.bubbleMe {
    color: white;
    position: relative;
    padding: 1rem;
    background: #88c476;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: #88c476 solid 2px;
    margin-left: 10%;
    margin-bottom: 15px;
    width: 100%;
    /* box-shadow: 10px 10px 15px silver; */
}

.bubbleMe:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 19px 0 19px 19px;
    border-color: transparent #88c476;
    display: block;
    width: 0;
    z-index: 0;
    right: -17px;
    top: 25px;
}

#Ausgabefeld {
    /* border: rgb(85, 85, 85, 152) 3px solid; */
    padding: 4px 20% 150px 20%;
}

@media screen and (max-width:600px) {
    .messageBody {
        font-size: medium;
    }
    #Ausgabefeld {
       /* border: rgb(85, 85, 85, 152) 3px solid; */
        padding: 4px 5% 130px 5%;
    }
    .bubble {
        margin: 20px;
        margin-right: 10%;
        width: 80%;
        padding: 18px;
        padding-left: 15px;
    }
    .bubbleMe {
        margin-left: 10%;
        margin-bottom: 15px;
        width: 80%;
    }
}