body {
    background-image: url(bg.png);
}

#chatAnzeige1 {
    position: fixed;
    background-color: white;
    z-index: 2;
    padding: 40px 5px 3px 5px;
    top: -13px;
    border: rgb(95, 62, 21) 5px solid;
    border-radius: 10px;
    cursor: pointer;
}

#chatAnzeige2 {
    position: fixed;
    background-color: white;
    z-index: 2;
    padding: 20px 5px 3px 5px;
    top: -10px;
    left: 100px;
    border: rgb(95, 62, 21) 5px solid;
    border-radius: 10px;
    cursor: pointer;
}

.button {
    margin: 10px 20px 10px 0px;
    background-color: rgb(94, 94, 94);
    border: rgb(58, 58, 58) solid 5px;
    color: white;
    border-radius: 5px;
    transition: all 0.2s ease-in-out 0s;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(182, 182, 182);
    border: rgb(63, 63, 63) solid 5px;
    color: rgb(31, 31, 31);
}

#senden {
    background-color: rgb(29, 150, 25);
    padding: 3px;
    color: white;
}

#refresh {
    background-color: rgb(29, 150, 25);
    padding: 3px;
}

#lennyEmote {
    background-color: rgba(235, 173, 59, 0.212);
    color: black;
    padding: 5px;
    border-radius: 20px;
}

#idkEmote {
    background-color: rgba(235, 173, 59, 0.212);
    color: black;
    padding: 5px;
    border-radius: 20px;
}

#emoji {
    background-color: rgba(235, 173, 59, 0.212);
    color: black;
    padding: 5px;
    border-radius: 20px;
}

input {
    background-color: rgb(204, 203, 203);
    border: rgb(126, 126, 126) solid 2px;
    border-radius: 3px;
    padding: 2px 20px 2px 5px;
}

b {
    font-family: monospace;
    font-size: larger;
}

#decide {
    text-align: center;
}

span {
    font-size: 20px;
    font-family: monospace;
    margin: 20px;
    text-align: center;
}

fieldset {
    background-color: rgb(185, 185, 185);
    padding: 50px;
}

fieldset>label {
    padding-right: 10px;
}


.username {
    padding-right: 15px;
}

#fname {
    padding-right: 42px;
    /* Die Antwort auf alles ;) */
}

.pw {
    padding-right: 50px;
}

#message {
    width: 300px;
    height: 2em;
}

.message {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.986);
    border: rgb(65, 138, 65) 4px solid;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 30%;
    box-shadow: 10px 10px 15px silver;
}

.selfSend {
    position: relative;
    padding: 5px;
    background-color: rgba(66, 153, 63, 0.986);
    border: rgb(15, 63, 15) 4px solid;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 30%;
    box-shadow: 10px 10px 15px silver;
}

.selfSend .date {
    text-align: right;
    font-size: small;
    color: rgb(224, 224, 224);
}

.nameTag {
    color: rgb(88, 42, 161);
}

.messageBody {
    padding: 5px 20px 5px 20px;
}

.date {
    text-align: right;
    font-size: small;
    color: rgb(94, 94, 94);
}

#beschreibung {
    margin-top: 0px;
    padding-top: 0px;
    font-size: small;
}



legend {
    font-size: large;
    background-color: rgb(75, 75, 75);
    color: white;
    padding: 5px;
    border: rgb(139, 139, 139) solid 5px;
    border-radius: 5px;
}

#Eingabe {
    position: relative;
    margin: 20px;
    left: -250px;
    padding: 0px 1000px 300px 300px;
    width: 80%;
}

#formular {
    position: fixed;
    bottom: -310px;
    background-color: white;
    padding: 0px 0px 5px 0px;
    z-index: 10;
}

#errorMsg {
    color: red;
    margin-top: 10px;
}

#error {
    position: fixed;
    bottom: 400px;
    left: 40%;
    background-color: rgb(153, 153, 153);
    padding: 10px;
    color: red;
    text-align: center;
}

@media screen and (max-width:600px) {
    button {
        font-size: 10px;
    }
    div {
        font-size: small;
    }
    .nameTag {
        font-size: medium;
        color: rgb(88, 42, 161);
    }
    .date {
        text-align: right;
        font-size: smaller;
        color: rgb(94, 94, 94);
    }
    #message {
        width: 290px;
        font-size: smaller;
    }
    .message {
        padding: 5px;
        background-color: rgba(255, 255, 255, 0.986);
        border: rgb(65, 138, 65) 4px solid;
        border-radius: 10px;
        margin-top: 10px;
        box-shadow: 10px 10px 15px silver;
    }
    
    #formular {
        background-color: white;
        position: fixed;
        bottom: -320px;
        left: -180px;
        padding: 5px 0px 5px 0px;
    }
    #Eingabe {
        position: static;
        margin: 20px;
        padding: 10px 160px 300px 165px;
        width: 100%;
    }
    .message {
        font-size: small;
    }
}

@media screen and (max-width:380px) {
    #message {
        width: 235px;
        font-size: smaller;
    }
    #emoji {
        display: none;
    }
}