#bg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#FormSingIn {
    text-align: center;
}

.button {
    margin: 20px 20px 10px 0px;
    background-color: rgb(94, 94, 94);
    border: rgb(58, 58, 58) solid 5px;
    color: white;
    border-radius: 5px;
    transition: all 0.2s ease-in-out 0s;
    cursor: pointer;
    padding: 3px;
}

.button:hover {
    background-color: rgb(182, 182, 182);
    border: rgb(63, 63, 63) solid 5px;
    color: rgb(31, 31, 31);
}

input {
    background-color: rgb(204, 203, 203);
    border: rgb(126, 126, 126) solid 2px;
    border-radius: 3px;
    padding: 2px 20px 2px 5px;
}

b {
    font-family: monospace;
    font-size: larger;
}

a {
    text-decoration: none;
    color: rgb(223, 223, 223);
}

a:hover {
    text-decoration: underline;
}

span {
    font-size: 20px;
    font-family: monospace;
    margin: 20px;
    text-align: center;
}

fieldset {
    
    background-image: url(Bilder/bg1.gif);
    padding: 50px;
    color: white;
    display: inline-block;
    margin-top: 10%;
}

fieldset>label {
    padding-right: 10px;
}

.username {
    padding-right: 15px;
}

#fname {
    padding-right: 42px;
    /* Die Antwort auf alles ;) */
}

.pw {
    padding-right: 50px;
}

#beschreibung {
    margin-top: 0px;
    padding-top: 0px;
    font-size: small;
}

legend {
    font-size: large;
    background-color: rgb(75, 75, 75);
    color: white;
    padding: 5px;
    border: rgb(139, 139, 139) solid 5px;
    border-radius: 5px;
}

#errorMsg {
    margin-top: 15px;
    color: rgb(245, 42, 42);
}

@media screen and (max-width:600px) {
    .message {
        padding: 5px;
        background-color: rgba(255, 255, 255, 0.986);
        border: rgb(65, 138, 65) 4px solid;
        border-radius: 10px;
        margin-top: 10px;
        box-shadow: 10px 10px 15px silver;
    }
}