body {
    background-image: url(bg.png);
}

main {
    text-align: center;
}

.active {
    color: #4CAF50;
    ;
}

.unactive {
    color: rgb(255, 255, 255);
    ;
}

header nav {
    position: fixed;
    top: 0px;
    left: 60%;
    width: 320px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0 0 10px 10px;
    background-color: rgb(25, 49, 29);
    color: white;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 13pt;
}

header nav a {
    color: white;
    text-decoration: none;
}

header nav a:hover {
    color: rgb(215, 231, 66);
}

header {
    background-color: rgb(79, 160, 126);
    height: 900px;
    width: 900px;
    border-radius: 50%;
    margin: -450px auto auto auto;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: whitesmoke;
    text-align: center;
}

header h1 {
    padding-top: 40%;
    font-size: 200px;
    text-decoration: underline;
    cursor: wait;
}

header p {
    text-align: right;
    margin-top: -130px;
    width: 200px;
    margin-left: 550px;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 19pt;
}

#imFeld h1 {
    padding-top: 40%;
    font-size: 200px;
}

#imFeld p {
    width: 300px;
    margin-top: -155px;
    margin-left: 400px;
    font-size: 45px;
}

#imFeld img {
    height: 40px;
    width: 40px;
    margin-top: 80px;
    padding: 10px 8px 8px 10px;
}

#imFeld img:hover {
    height: 45px;
    width: 45px;
    margin-top: 80px;
    padding: 6px 6px 6px 6px;
    background-color: teal;
    border-radius: 20%
}

#imFeld a {
    text-decoration: none;
}

#info h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 17pt;
    color: rgb(25, 49, 29)
}

#info {
    margin-left: 29%;
    width: 800px;
    text-align: left;
    color: rgb(79, 160, 126);
    font-family: 'Courier New', Courier, monospace;
    font-size: 15pt;
}

.showcase iframe {
    width: 800px;
    height: 600px;
}

.showcase img {
    width: 800px;
}

.content video {
    width: 800px;
}

#lastone {
    margin-bottom: 50px;
}

section table {
    border: 1px solid black;
    width: 250px;
}

section table th, td {
    padding: 4px;
}

section table tr:nth-child(even) {
    background-color: #f2f2f2;
}

section table tr:nth-child(uneven) {
    background-color: white;
}

#table {
    display: flex;
    justify-content: center;
    text-align: left;
    padding-top: 0px;
}

main h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 17pt;
    color: rgb(25, 49, 29)
}

footer {
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    position: fixed;
    bottom: -275px;
    width: 500px;
    height: 100px;
    padding: 4px 10px 100px 10px;
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(25, 49, 29);
    color: white;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 13pt;
}

footer a {
    text-decoration: none;
    color: white;
}

#bigtoe {
    font-size: 15pt;
}

footer:hover {
    bottom: -210px;
}