.button {
    margin: 20px 0px 10px 0px;
    background-color: rgb(94, 94, 94);
    border: rgb(58, 58, 58) solid 5px;
    color: white;
    border-radius: 5px;
    transition: all 0.2s ease-in-out 0s;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(182, 182, 182);
    border: rgb(63, 63, 63) solid 5px;
    color: rgb(31, 31, 31);
}

input {
    background-color: rgb(204, 203, 203);
    border: rgb(126, 126, 126) solid 2px;
    border-radius: 3px;
    padding: 2px 20px 2px 5px;
}

b {
    font-family: monospace;
    font-size: larger;
}

#decide {
    text-align: center;
}

span {
    font-size: 20px;
    font-family: monospace;
    margin: 20px;
    text-align: center;
}

fieldset {
    background-color: rgb(185, 185, 185);
    padding: 50px;
}

fieldset>label {
    padding-right: 10px;
}

.username {
    padding-right: 15px;
}

#fname {
    padding-right: 58px;
}

#lname {
    padding-right: 50px;
}

.pw {
    padding-right: 50px;
}

#farbe {
    padding-right: 0px;
}

#email {
    padding-right: 76px;
}

#gender {
    padding-right: 30px;
}

#date {
    padding-right: 33px;
}

#url {
    padding-right: 0px;
}

/* Ich weiß, mit ner Tabelle hätte ich mir wahrscheinlich arbeit ersparen können ¯\_(ツ)_/¯ */

#beschreibung {
    margin-top: 0px;
    padding-top: 0px;
    font-size: small;
}

legend {
    font-size: large;
    background-color: rgb(75, 75, 75);
    color: white;
    padding: 5px;
    border: rgb(139, 139, 139) solid 5px;
    border-radius: 5px;
}